.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  border-radius: 20px; /* Yuvarlatılmış köşeler */
  transition: background-color 0.3s, color 0.3s; /* Yumuşak renk geçişi */
}

.page-item.active .page-link {
  background-color: #007BFF; /* Aktif sayfa rengi */
  color: white;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  color: #888;
}

.page-link:hover {
  background-color: #007BFF;
  color: white;
}






